<template name = 'home'>
    <div class="not-found jumbotron">
        <!-- <h2>Bojo Bank</h2> -->
        <!-- <h3>Internet Banking Services</h3> -->
        <!-- <h4>Please Log In</h4> -->
<div class="container">
  <div class="row main">
     <h2>Bojo Bank</h2>
     <hr>
     <h2>Internet Banking Service</h2>
     <!-- <h5>Please Log In</h5> -->
     <br>
     <ul class="main-list">
         <li><h4><span class="glyphicon glyphicon-ok-sign"></span> Secure</h4></li>
         <li><h4><span class="glyphicon glyphicon-ok-sign"></span> Fast</h4></li>
         <li><h4><span class="glyphicon glyphicon-ok-sign"></span> Reliable</h4></li>
     </ul>

  </div>
</div>
        
    </div>

</template>