<template name = 'home'>
    <div class="not-found jumbotron">
       
<div class="container">
  <div class="row main">
    
     <img src="logo" alt="" class="mainlogo"/>
     <hr>
     <h2 class="huey">Internet Banking Service</h2>
    
     <br>
     <ul class="main-list">
         <li><h4 class="huey"><span class="glyphicon glyphicon-ok-sign"></span> Secure</h4></li>
         <li><h4 class="huey"><span class="glyphicon glyphicon-ok-sign"></span> Fast</h4></li>
         <li><h4 class="huey"><span class="glyphicon glyphicon-ok-sign"></span> Reliable</h4></li>
     </ul>

  </div>
</div>
        
    </div>

</template>